.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
src/test/java/com/mashup6th/preambackend/user/UserTest.java
src/test/java/com/mashup6th/preambackend/PreamBackendApplicationTests.java

src/main/resources/application-config.properties
src/main/resources/application-rds.properties
src/main/resources/application-dev.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
